#DATA STRUCTURE

1.Write a code to create a string with your name and print it

In [ ]:
my_name = "Preeti Sharma"
print(my_name)

Preeti Sharma

2 . Write a code to find the length of the string "Hello World"

In [ ]:
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

4.Write a code to convert the string "hello" to uppercase

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)
# Output: HELLO

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
my_string = "I will eat apple"
new_string = my_string.replace("apple", "orange")
print(new_string)
# Output: I like orange

I will eat orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
my_list = [i for i in range(1, 6)]
print(my_list)
# Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)
# Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list.remove(3)
print(my_list)
# Output: [1, 2, 4, 5]

[1, 2, 4, 10]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)
# Output: b

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list.reverse()
print(my_list)
# Output: [50, 40, 30, 20, 10]

['d', 'c', 'b', 'a']

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)
 # Output: (100, 200, 300)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)
# Output: blue

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10,20,5,15)
second_to_last_element = my_tuple[-2]
print(second_to_last_element)
# Output: blue

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)
# Output: 1

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
tuple = ("apple","mango","kiwi")
if "kiwi" in tuple:
     print("kiwi is in tuple")

kiwi is in tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}  # Resetting the set for demonstration

my_set = set()  # Reassigning to an empty set
print("Set after clearing (reassignment):", my_set)

Set after clearing (reassignment): set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
my_set.discard(4)  # If 4 is not present, discard() does nothing. No error.
print("Set after discarding 4:", my_set)

Set after discarding 4: set()

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
my_set = {1, 2, 3}
other_set = {3, 4, 5}

union_set = my_set | other_set
print("Union using | operator:", union_set)

Union using | operator: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
my_set = {1, 2, 3}
other_set = {2, 3, 4}

intersection_set = my_set & other_set
print("Intersection using & operator:", intersection_set)

Intersection using & operator: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)
# Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict['country'] = 'USA'
print(my_dict)
 # Output: {'name': 'John', 'age': 25, 'country': 'USA'}

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
name = my_dict['name']
print(name)
# Output: Alice

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
del my_dict['age']
print(my_dict)
# Output: {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")
    # This won't be printed in this case

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3, "apple", 3.14]

# Create a tuple
my_tuple = (10, 20, 30, "banana", 6.28)

# Create a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Print the list
print("List:", my_list)

# Print the tuple
print("Tuple:", my_tuple)

# Print the dictionary
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 3.14]
Tuple: (10, 20, 30, 'banana', 6.28)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
my_set = {1, 2, 3, 4, 5}
other_set = {3, 4, 5}

union_set = my_set | other_set
print("Union using | operator:", union_set)

Union using | operator: {1, 2, 3, 4, 5}

28. Write a code to create a list with strings and print the element at the third index

In [ ]:
third_element = my_list[2]
print(third_element)
# Output: cherry

3

29. Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print("Combined dictionary (Method 1):", dict1)

Combined dictionary (Method 1): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30.Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "cherry", "apple", "date", "banana"]

# Method 1: Using the set() constructor
my_set = set(my_list)
print("Set created using set():", my_set)
# Output: {'apple', 'banana', 'cherry', 'date'}

Set created using set(): {'banana', 'date', 'apple', 'cherry'}